<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.7.6" targetFramework="net472" />
  <package id="RadiusR.Address" version="1.0.0" targetFramework="net472" />
  <package id="RadiusR.Address.QueryInterface" version="1.0.0" targetFramework="net472" />
  <package id="RadiusR.API.AddressQueryAdapter" version="1.0.0" targetFramework="net472" />
  <package id="RadiusR.DB" version="1.2.1" targetFramework="net472" />
  <package id="RadiusR.DB.DomainsCache" version="1.0.0" targetFramework="net472" />
  <package id="RadiusR.DB.TelekomOperations" version="1.0.0" targetFramework="net472" />
  <package id="RadiusR.DB.Utilities" version="1.1.0" targetFramework="net472" />
  <package id="RadiusR.DB.Utilities.ComplexOperations" version="1.0.5" targetFramework="net472" />
  <package id="RadiusR.Localization" version="1.0.3" targetFramework="net472" />
  <package id="RadiusR.Localization.Lists" version="1.0.7" targetFramework="net472" />
  <package id="RadiusR.Scheduler.SMS" version="1.0.0" targetFramework="net472" />
  <package id="RadiusR.SMS" version="1.0.0" targetFramework="net472" />
  <package id="RadiusR.SystemLogs" version="1.0.2" targetFramework="net472" />
  <package id="RadiusR.VPOS" version="1.0.2" targetFramework="net472" />
  <package id="RezaB.API.TCKValidation" version="1.0.0" targetFramework="net472" />
  <package id="RezaB.API.WebService" version="1.1.7" targetFramework="net472" />
  <package id="RezaB.API.WebService.NLogExtentions" version="1.0.1" targetFramework="net472" />
  <package id="RezaB.Data" version="1.0.1" targetFramework="net472" />
  <package id="RezaB.DBUtilities" version="1.0.0" targetFramework="net472" />
  <package id="RezaB.TurkTelekom.WebServices" version="1.0.0" targetFramework="net472" />
  <package id="RezaB.Web.VPOS" version="1.1.1" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
</packages>